* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ebe4d9;
    color: #444;
}

html, body {
    height: 100%;
}

.edit-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.edit-container h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #754f2e; /* Колір заголовка */
}

#editBookForm {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 3px solid #3f2817;
    display: flex;
    flex-direction: column;
    gap: 15px; /* Відстань між полями */
}

#editBookForm label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #4a392f;
}

#editBookForm input {
    font-size: 16px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f6e1d2;
    transition: border-color 0.3s ease-in-out;
}

#editBookForm input:focus {
    border-color: #f39c12;
    outline: none;
}

#editBookForm button {
    background-color: #f3ce93;
    color: #6b5547;
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#editBookForm a {
    margin-left:  auto;
    background-color: #dea03d;
    color: #49382d;
    font-size: 16px;
    width: 15%;
    padding: 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#editBookForm button:hover {
    background-color: #e67e22;
}

#cancelBtn {
    background-color: #c0392b; /* Червоний для кнопки "Скасувати" */
    color: #fff;
}

#cancelBtn:hover {
    background-color: #a93226; /* Темніший червоний при наведенні */
}
