.footer {
  background: linear-gradient(to right, #4e3b31, #b48b40);
  color: #f8f3f0; /* Світлий текст */
  padding: 40px 20px; /* Відступи */
  text-align: center; /* Центрування тексту */
}

.footer-container {
  display: flex;
  justify-content: space-between; /* Розподіл простору між колонками */
  align-items: flex-start; /* Вирівнювання елементів по верху */
}

.branding,
.logo,
.social-links {
  flex: 1; /* Вирівнюємо три колонки з однаковою шириною */
  margin: 0 10px; /* Відступи між колонками */
}

.branding h3 {
  font-size: 1.8rem; /* Розмір заголовка */
  margin-bottom: 10px; /* Відступ знизу */
}

.branding p {
  font-size: 1rem; /* Розмір тексту */
  color: #ddd; /* Світлий текст */
}

.logo img {
  height: 100px;
  width: 100px; /* Фіксований розмір логотипу */
}

.social-links {
  display: flex;
  justify-content: flex-end; /* Вирівнювання іконок вправо */
  gap: 15px; /* Проміжок між іконками */
}

.social-link {
  color: #f8f3f0; /* Білий колір для іконок */
  font-size: 1.5rem; /* Розмір іконок */
  transition: color 0.3s ease; /* Плавний перехід кольору */
}

.social-link:hover {
  color: #c69c6d; /* Колір при наведенні */
}

.social-link img {
  height: 40px; /* Фіксований розмір іконок */
  width: 40px; /* Фіксований розмір іконок */
}

.footer-bottom {
  margin-top: 20px; /* Відступ зверху */
  text-align: center; /* Вирівнювання тексту в центрі для копірайту */
}

.footer-bottom p {
  font-size: 0.9rem; /* Розмір тексту для копірайту */
  color: #ddd; /* Світлий текст для копірайту */
}

/* Додайте стиль для риски */
.footer-divider {
  border: none;
  border-top: 1px solid #e0e0e0; /* Колір та стиль риски */
  margin: 20px 0; /* Відступи зверху та знизу */
}
